@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f5fdf1;
    color: #565656;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box {
    background-color: #556b2f;
    color: white;
    height: 400px;
    width: 400px;
    border-radius: 20px;
}

.items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px;
}

.items button {
    border-radius: 5px;
    padding: 8px;
    margin-bottom: 5px;
}

.items button:hover {
    background-color: #0e1208;
    color: white;
}

.products-name,
.cost-price,
.sale-price {
    margin-bottom: 10px;
}

.products-name input:hover,
.cost-price input:hover,
.sale-price input:hover {
    background-color: #ebffda;
}

input[type=number] {
    width: 150px;
}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;  
}
input[type=number] { 
    -moz-appearance: textfield;
    appearance: textfield;
}

.success-message {
    background-color: #000a06;
    padding: 20px;
    color: #fff;
    border-radius: 5px;
    display: none;
}

.error-message {
    font-size: 12px;
    padding: 8px;
    background-color: red;
    color: #fff;
    margin-bottom: 8px;
    border-radius: 5px;
    display: none;
}





